<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nail Garden</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/appointment.css">
        <script src="https://kit.fontawesome.com/463141b2af.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <a class="logo-anchor" href="/">
                    <div class="logo" id="logo">
                        Nail Garden
                    </div>
                </a>
                <div class="nav-burger">
                    <div class="burger-btn"></div>
                </div>
                <ul class="nav-items" id="nav-menu">
                    <li><a href="/"><span class="underline">Inicio</span></a></li>
                    <li><a href="/about-us"><span class="underline">Conocenos</span></a></li>
                    <li><a href="/manicure"><span class="underline">Manicure</span></a></li>
                    <li><a href="/makeup"><span class="underline">Maquillaje</span></a></li>
                    <li><a href="/pedicure"><span class="underline">Pedicure</span></a></li>
                    <li><a href="/appointment" class="active"><span class="underline active">Agendar cita</span></a></li>

                    <% if(typeof authenticated !== 'undefined'){ %>
                        <li><a href="/profile"><span class="underline">Perfil</span></a></li>
                        <li><a href="/signout"><span class="underline">Cerrar sesión</span></a></li>
                    <% } else { %> 
                        <li><a href="/signin"><span class="underline">Iniciar sesión</span></a></li>
                    <% } %> 
                </ul>
            </nav>
        </header>
        <main class="main">
            <form class="form" action="/appointment" method="POST">
                <h1 class="form__title">Reservar cita</h1>
                <%- include('../partials/messages'); -%>
                <div class="inputcontainer">
                    <div class="styleinputcontainer">
                        <input class="styleinputcontainer__input styleinputcontainer__input--name" type="text" name="name" placeholder="Nombre completo" value="<%= typeof name != 'undefined' ? name : '' %>">
                        <label class="styleinputcontainer__label" for="name">Nombre completo</label>
                    </div>
                
                    <div class="styleinputcontainer">
                        <input class="styleinputcontainer__input styleinputcontainer__input--email" type="text" name="contact" placeholder="Correo electrónico o número telefónico" value="<%= typeof email != 'undefined' ? email : '' %>">
                        <label class="styleinputcontainer__label" for="contact">Correo electrónico o número telefónico</label>
                    </div>

                    <div class="timecontainer">
                        <input class="form__date" type="date" id="date" name="date" value="<%= (typeof date != 'undefined') ? (isNaN(date) ? '' : date.toISOString().split('T')[0]) : '' %>">
                        <select class="form__hour" name="hour" id="hour">
                            <option selected label="Seleccionar hora" value="none" selected></option>
                            <% for (let i = 8; i <= 17;  i++ ) { %>
                                <option label="<%= i %>" value="<%= i %>"></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="servicecontainer">
                        <select class="form__service" name="service" id="service">
                            <option selected label="Seleccionar servicio" value="none"></option>
                            <option label="Manicure" value="Manicure"></option>
                            <option label="Pedicure" value="Pedicure"></option>
                            <option label="Maquillaje" value="Makeup"></option>
                        </select>
                    </div>
                
                    <div class="styleinputcontainer">
                        <textarea class="styleinputcontainer__input styleinputcontainer__input--message" name="description" rows="10" placeholder="Descripción del servicio" cols="40"><%= typeof description != 'undefined' ? description : '' %></textarea>
                        <label class="styleinputcontainer__label styleinputcontainer__label--message" for="description">Descripción del servicio</label>
                    </div>
                
                    <div class="btncontainer">                    
                        <button class="btn" type="submit">Reservar cita</button>
                    </div>
            </form>
        </main>
        <footer>
            <a class="logo-anchor" href="/">
                <div class="logo" id="logo">
                    Nail Garden
                </div>
            </a>

            <ul class="social-media">
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook"></i></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>